table {
  width: 100%;

  tr.user-detail-row {
      height: 0;
      .user-detail {
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          .vehicle-riple{
            cursor: pointer;
            text-align: center;
            width: 150px;
            height: 125px;
            margin: 25px;
            display: flex;
            .riple-container{
             margin:auto 5px ;
            }
             border-color:transparent;
             border-left: 5px solid;
          }
      }
  }

  tr.user-row:not(.user-expanded-row):hover {
      background: #f5f5f5;
  }

  tr.user-row:not(.user-expanded-row):active {
      background: #efefef;
  }

  .user-row {
      td {
          border-bottom-width: 0;
      }
  }
}
