<table mat-table [dataSource]="userList" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let user"> {{user.owner.name + ' ' +user.owner.surname}} </td>
  </ng-container>
  <ng-container matColumnDef="vehicleCount">
    <th mat-header-cell *matHeaderCellDef> Vehicles </th>
    <td mat-cell *matCellDef="let user"> {{user.vehicles.length}} </td>
  </ng-container>
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let user" [attr.colspan]="columnsToDisplay.length">
      <div class="user-detail" [@detailExpand]="user == selectedUser ? 'expanded' : 'collapsed'">
        <div class="vehicle-riple mat-elevation-z1" matRipple *ngFor="let vehicle of user.vehicles"
          [style.border-color]="vehicle.color" (click)="setActiveVehicle(vehicle)">
          <div class="riple-container">
            <span> {{vehicle.make + ' ' + vehicle.model}} </span>
            <span> {{vehicle.year }} </span>
            <span> {{vehicle.vin }} </span>
          </div>
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let user; columns: columnsToDisplay;" class="user-row"
    [class.user-expanded-row]="selectedUser === user" (click)="setSelectedUser(user)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="user-detail-row"></tr>
</table>