#map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#list{
    position: absolute;
    width: 460px;
    height: 500px;
    left: 17px;
    top: 30px;
    padding: 70px 58px 10px;
}