<div class="arrow_box">
  <div id="popup-content">
    <div *ngIf='vehicle'>
      <mat-card class="vehicle-card">
        <mat-card-header>
          <div mat-card-avatar class="vehicle-icon" [style.background-color]="vehicle.color"></div>
          <mat-card-title>{{vehicle.make + ' ' + vehicle.model +' '}} ({{vehicle.year}})</mat-card-title>
          <mat-card-subtitle>VIN: {{vehicle.vin}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{vehicle.foto}}"
          onError="this.src='https://t4.ftcdn.net/jpg/01/39/16/63/240_F_139166369_NdTDXc0lM57N66868lC66PpsaMkFSwaf.jpg';">
        <mat-card-content>
          <p>
            {{address}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>